* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__container {
    width: 100%;
    height: 200px;
    display: block;
}

.header__container>div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header__container .top__header {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    padding: 5px 0;
    display: flex;
}

.header__container .top__header .phone_number {
    height: 100%;
    flex-basis: 10%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container .top__header .phone_number label {
    margin-left: 10px;
}

.header__container .top__header span {
    font-size: 16px;
    font-style: italic;
}

.header__container .top__header .social_media {
    flex-basis: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 2px;
}

.header__container .middle__header {
    height: 150px;
    width: 100%;
    background: #fae1ce59;
    padding: 15px 80px;
}

.header__container .middle__header .logo {
    width: 150px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 120px;
}

.header__container .middle__header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__container .middle__header .center__header .search__bar {
    width: 500px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid black;
    margin: 20px 0;
}

.header__container .middle__header .center__header .search__bar input {
    flex: 1;
    height: 100%;
    padding: 0 20px;
    outline: none;
    border: none;
}

.header__container .middle__header .center__header .search__bar button {
    width: 50px;
    height: 100%;
    background: black;
    color: white;
    cursor: pointer;
}

.header__container .middle__header .center__header .bonus__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__container .middle__header .center__header .bonus__info>div {
    cursor: pointer;
    font-size: 15px;
}

.header__container .middle__header .icon__commerce {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container .middle__header .icon__commerce>div {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

.header__container .middle__header .icon__commerce .cart__icon, .user__icon {
    border-radius: 50%;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.header__container .bottom__header {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
}

.header__container .bottom__header .navbar {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    font-size: 20px;
    font-style: italic;
}

.header__container .bottom__header  .order_lookup {
    width: 200px;
    margin: 15px 30px;
}