* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Account_Info {
    font-family: "Dosis", sans-serif;
    width: 100vw;
    padding: .8rem 5rem;
    display: flex;
    align-items: start;
    background: #F3F3F3;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

#Account_Info .sidebar {
    /* border: 2px solid red; */
    max-height: 500px;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#Account_Info .sidebar .user__account {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Account_Info .sidebar .user__account .thumbnail__avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

#Account_Info .sidebar .user__account .thumbnail__avatar img {
    width: 100%;
    height: 100%;
}

#Account_Info .sidebar .user__account .name__account {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1rem;
}

#Account_Info .sidebar .function__list {
    max-height: 300px;
    height: 100%;
    /* border: 1px solid green; */
    position: absolute;
    top: 25%;
}

#Account_Info .sidebar .function__list ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
}

#Account_Info .sidebar .function__list ul li.clicked {
    font-weight: 750;
}

#Account_Info .sidebar .function__list ul li:hover:not(.clicked) {
    opacity: 0.5;
}

#Account_Info .main__content {
    height: 100%;
    flex: 3;
}

#Account_Info .main__content h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
    text-transform: capitalize;
    font-style: italic;
}

#Account_Info  .information {
    height: 30rem;
    display: flex;
    justify-content: left;
    background: white;
    font-size: 18px;
}

#Account_Info  .avatar__frame {
    /* border: 2px solid chartreuse; */
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 300px;
    margin-left: 50px;
}

#Account_Info  .avatar__img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

#Account_Info  .avatar__img img {
    width: 100%;
    height: 100%;
}

#Account_Info  .avatar__frame button {
    width: 80px;
    height: 40px;
    background: brown;
    color: white;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}

#Account_Info .fix__info {
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: left;
    gap: 30px;
    margin: 30px 0 10px 80px;
}

#Account_Info .form-group {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 19px;
}

#Account_Info  .form-label {
    font-size: 1.2rem;
}

#Account_Info   .form-input {
    flex: 1;
}

#Account_Info  .form-input input {
    width: 100%;
    height: 30px;
    padding: 0 15px;
    margin: 10px 0;
}




#Account_Info  .btnUpdateCustomer {
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    background: brown;
    color: white;
    cursor: pointer;
}

#Account_Info  .btnUpdateCustomer:hover {
    opacity: 0.8;
}

#Account_Info .changePassword {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: white;
    padding-top: 5rem;
    height: 30rem;
}

#Account_Info .changePassword .input_form {
    margin: 1rem;
    width: 25rem;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

#Account_Info .changePassword .input_form:focus {
    border: 1px solid brown;
}

#Account_Info .changePassword .btnUpdatePassword {
    margin: 1rem;
    width: 25rem;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background: brown;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    transition: all .3s ease-in-out;
}

.btnUpdatePassword:hover {
    opacity: 0.8;
}

#Account_Info #Order__History {
    font-size: 1.4rem;
    height: 30rem;
    overflow-y: auto;
    background-color: white;
    padding: 1rem;
}

#Account_Info #Order__History .order-history__container {
    border-radius: 1rem;
    /* background-color: #FBF7F5; */
    background: #F1F1F6;
    border: 1px solid #0F0002;
    margin: 1.6rem 1rem;
}

#Account_Info #Order__History .order-history__container__item {
    margin-bottom: 1rem;
}

#Account_Info #Order__History .order-history__product {
    margin: 10px 0;
}

#Account_Info #Order__History .order-history__product__listPro {
    padding: 0;
    margin: 0;
}

#Account_Info #Order__History .order-history__product__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

#Account_Info #Order__History .order-history__product__items__img {
    width: 10%;
    border: 1px solid #ccc;
}

#Account_Info #Order__History .order-history__product__items__content {
    flex: 1;
    margin: 0 20px;
}

#Account_Info #Order__History .order-history__product__item--cat,
#Account_Info #Order__History .order-history__product__item--name,
#Account_Info #Order__History .order-history__product__item--quantity {
    display: block;
}

#Account_Info #Order__History .order-history__product__item--cat {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

#Account_Info #Order__History .order-history__product__item--name {
    font-weight: 500;
    color: #4a4645;
    margin: 5px 0;
}

#Account_Info #Order__History .order-history__product__item--quantity {
    font-weight: 600;
}

#Account_Info #Order__History .order-history__product__item__old--price {
    text-decoration: line-through;
    opacity: 0.5;
}

#Account_Info #Order__History .order-history__product__item__current--price {
    font-weight: 500;
}

#Account_Info #Order__History .order-history__container__item__total {
    border-color: #ccc;
    border-width: 1px;
    border-top: 2px solid #8685858a;
}

#Account_Info #Order__History .order-history__container__item__total--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;
}

#Account_Info #Order__History .order-history__total__item__assessment-notice {
    color: #0000008a;
}

#Account_Info #Order__History .order-history__total__item__assessment-notice__date {
    text-decoration: underline;
    display: inline-flex;
    cursor: pointer;
}

#Account_Info #Order__History .order-history__total__item__price-btn {
    display: flex;
    flex-direction: column;
}

#Account_Info #Order__History .order-history__total__intoMoney {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#Account_Info #Order__History .order-history__total__intoMoney__price {
    font-weight: bold;
    margin-left: 5px;
    font-size: 2rem;
    color: #000;
}

#Account_Info #Order__History .order-history__total__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 1rem;
}

#Account_Info #Order__History .order-history__total__buttons__continue,
#Account_Info #Order__History .order-history__total__buttons__cancel {
    font-size: 1rem;
    border: none;
    padding: 1rem 2.2rem;
    cursor: pointer;
    border-radius: .8rem;
    color: white;
}

#Account_Info #Order__History .order-history__total__buttons__continue {
    background-color: brown;
}

#Account_Info #Order__History .order-history__total__buttons__continue:hover {
    opacity: 0.8;
}

#Account_Info #Order__History .order-history__total__buttons__cancel {
    background-color: brown;
}

#Account_Info #Order__History .order-history__total__buttons__cancel.disabled {
    background-color: #ccc;
    cursor: default;
}

#Account_Info #Order__History .order-history__total__buttons__cancel.disabled:hover {
    opacity: 1;
}

#Account_Info #Order__History .order-history__total__buttons__cancel:hover {
    opacity: .8;
}
