/* CSS cho phần header */
  body {
    font-family: "Dosis", sans-serif;
}

  /* CSS cho phần main */
  #Blogs {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-gap: 20px;
    padding: 20px;
  }
  
  /* CSS cho phần post */
#Blogs  .post {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
#Blogs  .post-image {
    flex: 0 0 auto;
    
    margin-right: 20px;
  }
  
#Blogs  .post-image img {
    width: 600px;
    height: 336px;
    object-fit: cover;
  }
  
#Blogs  .post-content {
    flex: 1 1 auto;
  }
  
#Blogs  .post-title {
    font-size: 35px;
    margin-bottom: 10px;
    font-family: "Dosis", sans-serif;
    border-width: 3px;
  }
  
#Blogs  .post-meta {
    font-size: 29px;
    color: #888;
    margin-bottom: 10px;
  }
  
#Blogs  .post-meta span {
    margin-right: 10px;
  }
  
#Blogs  .post-summary {
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
#Blogs  .post-read-more {
    font-size: 21px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #333;
  }
  