* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.footer__container {
    width: 100%;
    height: 400px;
    position: fixed;
    bottom: 0;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.footer__container .main__content {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 10px 30px; */
    font-size: 16px;
    /* margin-bottom: 50px; */
}

.footer__container .main__content .intro {
    height: 100%;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer__container .main__content .intro .name__shop {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    padding: 0 30px;
    position: relative;
}

.footer__container .main__content .intro .name__shop:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 280px;
    background: white;
    right: -20px;
    bottom: -110px;
}

.footer__container .main__content .intro .name__shop .logo {
    border-radius: 50%;
    width: 170px;
    height: 150px;
    overflow: hidden;
}

.footer__container .main__content .intro .name__shop .logo img {
    width: 100%;
    height: 100%;
}

.footer__container .main__content .intro .name__shop h1 {
    font-size: 28px;
    font-style: italic;
}

.footer__container .main__content .intro .bio {
    width: 500px;
    padding: 20px;
    text-align: justify;
    font-size: 16px;
}

.footer__container .main__content .function {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 10px 50px 0 0;
}

.footer__container .main__content .function h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-style: italic;
}

.footer__container .main__content .function ul {
    line-height: 2.0;
    list-style: none;
}

.footer__container .main__content .function ul li {
    cursor: pointer;
}

.footer__container .main__content .policy {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 80px 0 0;
}

.footer__container .main__content .policy h3 {
    margin-bottom: 10px;
}

.footer__container .main__content .policy ul {
    line-height: 1.8;
}

.footer__container .main__content .policy ul li {
    cursor: pointer;
}