.product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  width: 80%;
}

.product-images img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.product-info {
  width: 60%;
  margin-left: 50px;
}

.product-name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-price {
  font-size: 28px;
  font-weight: 700;
  color: #c94f5c;
  margin-bottom: 20px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.product-features li {
  font-size: 16px;
  margin-bottom: 10px;
}

.add-to-cart-button {
  background-color: #c94f5c;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 30px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-to-cart-button:hover {
  background-color: #b43e4b;
}
.similar-products {
  margin-top: 50px;
}

.similar-products h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.similar-products-list {
  /* display: flex; */
  /* white-space: nowrap;
  flex-wrap: wrap; */
  /* display: grid;
  /* grid-template-rows: 1fr 20px; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: left;
} 

.similar-product {
  margin-right: 10px;
  width: 23%;
  margin: 0 10px;
  margin-bottom: 20px;
}

.similar-product a {
  text-decoration: none;
  color: #333;
}

.similar-product img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.similar-product p {
  margin: 0;
}

@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  
  .card-registration .select-arrow {
  top: 13px;
  }
  
  .bg-grey {
  background-color: #eae8e8;
  }
  
  @media (min-width: 992px) {
  .card-registration-2 .bg-grey {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  }
  }
  
  @media (max-width: 991px) {
  .card-registration-2 .bg-grey {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  }
  }