

.header__slideshow {
  width: 100%;
  overflow: hidden;
}

.header__slideshow-adea {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.header__slideshow-image {
  flex: 0 0 100%;
}

.header__slideshow-image-item {
  width: 100%;
  height: 100%;
}

/* App container */
.app__container {
  background-color: #f5f5f5;
}

.app__container__name-shop {
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.category {
  border-radius: 2px;
  background-color: var(--while-color);
}

.app__content {
  padding-top: 10px;
  margin: 0 2%;
}

.home__page {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
  padding: 15px 15px 0;
  margin-top: 0;
  text-transform: uppercase;
}

.shop__page {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.classification {
  margin: 0 20px;
}

.category-list {
  padding: 0 0 8px 0;
  list-style-type: none;
}

.category-list-title {
  font-size: 1.5rem;
  margin: 0 5px;
  font-weight: bold;
}

.category-item {
  position: relative;
}

.category-item:first-child::before {
  display: none;
}

.category-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  border-top: 1px solid #f5efef;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item--active .category-item__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
  cursor: pointer;
  transform: translateY(calc(-50% - 1px));
}

.category-item__link {
  position: relative;
  right: 0;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 20px;
  display: block;
  transition: right linear 0.1s;
}

.category-item__link:hover {
  right: -4px;
  color: var(--primary-color);
}

/* Home sort + filter */
.select__search {
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
}

#sortPrices {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  border: 1px solid white;
  background-color: #FCB35F;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

/* Product item */
.home-product {
  margin-bottom: 10px;
}

.home-product-item {
  position: relative;
  margin-top: 10px;
  background-color: var(--while-color);
  border-radius: 2px;
  border: 1.5px solid #d9d9d9;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform ease-in 0.1s;
  will-change: transform;
  display: block;
  text-decoration: none;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  height: 3.6rem;
  margin: 10px 10px 6px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.home-product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}

.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
}

.home-product-item__like {
  font-size: 1.3rem;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}

.home-product-item__like-icon-empty {}

i.home-product-item__like-icon-fill {
  color: #f63d30;
  display: none;
}

.home-product-item__rating {
  font-size: 1rem;
  transform: scale(0.8);
  transform-origin: right;
  color: #d5d5d5;
  margin: -1px 0 0 auto;
}

.home-product-item__star-gold {
  color: var(--star-gold-color);
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}

.home-product-item__origin {
  display: flex;
  margin: 3px 10px 0;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 5px;
}

.home-product-item__brand {}

.home-product-item__origin-name {
  margin-left: auto;
}

.home-product__pagination {
  margin: 48px 0 32px;
}
