@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,400;1,500&family=Dosis:wght@400;500;600;700&family=Open+Sans:ital,wght@0,500;1,400&display=swap');

:root {
    --main: orange;
    --bg: #0B1218;
    /* #fffff */
    --bg-body: #131D28;
    /* #E5E5E5 */
    --font-color: #FFFBF1; 
    /* #0B1218; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Dosis", sans-serif;
    text-transform: capitalize;
}

body {
    color: var(--font-color);
}

#admin_account .main__content .information {
    display: flex;
    justify-content: center;
    background: var(--bg);
    font-size: 18px;
    border-radius: 2rem;
    padding: 2rem 0 1.2rem 0;
    height: 35rem;
}

#admin_account .main__content .information .avatar__frame {
    /* border: 2px solid chartreuse; */
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 300px;
    margin-left: 50px;
}

#admin_account .main__content .information .avatar__frame .avatar__img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

#admin_account .main__content .information .avatar__frame .avatar__img img {
    width: 100%;
    height: 100%;
}

#admin_account .main__content .information .avatar__frame button {
    width: 80px;
    height: 40px;
    background: var(--main);
    color: var(--font-color);
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    border: none;
    outline: none;
}

#admin_account .main__content .information .avatar__frame button:hover {
    opacity: 0.8;
}

#admin_account .main__content .information .fix__info {
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: left;
    gap: 30px;
    margin: 30px 0 10px 80px;
}

#admin_account .main__content .information .fix__info .form-group {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 19px;
}

#admin_account .main__content .information .fix__info .form-group .form-label {
    font-size: 1.2rem;
}

#admin_account .main__content .information .fix__info .form-group .form-input {
    flex: 1;
    
}

#admin_account .main__content .information .fix__info .form-group .form-input input {
    width: 100%;
    padding: .5rem 1rem;
    margin: 1rem 0;
    outline: none;
    background: transparent;
    color: var(--font-color);
    border: 2px solid var(--font-color);
}

#admin_account .main__content .information .fix__info .form-group .form-input input:focus {
    border: 2px solid var(--main);
}

#admin_account .main__content .information .fix__info .btnUpdate {
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    background: var(--main);
    color: var(--font-color);
    cursor: pointer;
    border: none;
    outline: none;
}

#admin_account .main__content .information .fix__info .btnUpdate:hover {
    opacity: .8;
}

#admin_account .main__content .changePassword {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    font-size: 18px;
    border-radius: 2rem;
    padding: 2rem 0 1.2rem 0;
    height: 35rem;
}

#admin_account .main__content .changePassword h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
    text-transform: capitalize;
    font-style: italic;
}

#admin_account .main__content .changePassword .input_form {
    margin: 1rem;
    width: 25rem;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background: transparent;
    color: var(--font-color);
    border: 2px solid var(--font-color);
}

#admin_account .main__content .changePassword .input_form:focus {
    border: 2px solid var(--main);
}

#admin_account .main__content .changePassword .btnUpdatePassword {
    margin: 1rem;
    width: 25rem;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background: var(--main);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: var(--font-color);
    transition: all .3s ease-in-out;
}

#admin_account .main__content .changePassword .btnUpdatePassword:hover {
    opacity: .8;
}