@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,400;1,500&family=Dosis:wght@400;500;600;700&family=Open+Sans:ital,wght@0,500;1,400&display=swap');

:root {
    --main: orange;
    --bg: #0B1218;
    /* #fffff */
    --bg-body: #131D28;
    /* #E5E5E5 */
    --font-color: #FFFBF1;
    /* #0B1218; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Dosis", sans-serif;
    text-transform: capitalize;
}

#create-form {
    border: 2px solid #ccc;
    width: 35rem;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
}

#create-form #close {
    position: absolute;
    top: 1rem;
    right: 1.3rem;
    font-size: 1.5rem;
}

#create-form .title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

#create-form .content {
    /* border: 2px solid red; */
    height: 15rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .8rem;
    margin-bottom: 1.5rem;
}

#create-form .content div {
    display: flex;
    align-items: center;
}

/* #create-form .content div:nth-child(2) {
    margin-top: .8rem;
} */

#create-form .content div>label {
    flex-basis: 40%;
    font-size: 1.4rem;
}

#create-form .content div .textfield {
    flex: 1;
    padding: .3rem .5rem;
    outline: none;
    border: 1px solid var(--font-color);
    border-radius: 1rem;
    
}

#create-form .content div .textfield:not(select) {
    text-transform: none;
}

#create-form .content div .textfield:focus {
    border: 1px solid var(--main);
}

#create-form .content .image-upload {
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 1.3rem 2rem;
    display: inline-block;
    
}

#create-form .content .image-upload .icon-upload {
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size:1rem;
    cursor: pointer;
}

#create-form .content .image-upload:hover {
    border: 1px solid var(--main);
}

#create-form .content .image-upload input {
    display: none;
    /* width: 100%;
    height: 100%;
    border: 2px solid red; */
}

#create-form .content div .switch {
    -webkit-appearance: none;
    appearance: none;
    width: 8.2rem;
    height: 1.2rem;
    background: #BFBFBF;
    border-radius: 1.8rem;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--main);
    position: relative;
    transition: ease 0.5s;
    margin: 1.5rem 0;
}

#create-form .content div .switch:checked {
    background: var(--main);
    transition: ease 1s;
}

#create-form .content div .switch::before {
    content: '';
    width: 1.1rem;
    height: 1.1rem;
    background: var(--font-color);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transition: ease 500ms;
    /* transform: translate(-50%, -20%); */
}

#create-form .content div .switch::after {
    content: attr(data-content);
    position: absolute;
    width: 8rem;
    height: 0.9rem;
    top: 40%;
    left: 66%;
    transform: translate(-50%, -50%);
    color: var(--bg);
}

#create-form .content div .switch:checked::before {
    left: 7rem;
}

#Admin_User #create-form .tool {
    margin-top: 2rem;
}

#create-form .tool .btn {
    padding: .3rem 3rem;
    margin: 0 2rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: .6rem;
    background: transparent;
    color: var(--font-color);
}

#create-form .tool .btn:hover {
    opacity: 0.8;
}

#create-form .tool .btnConfirm {
    background: var(--main);
}

#create-form .tool .btnCancel {
    border: 2px solid var(--main);
    color: var(--main);
}

#fix-form {
    border: 2px solid #ccc;
    width: 35rem;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
}

#fix-form #close {
    position: absolute;
    top: 1rem;
    right: 1.3rem;
    font-size: 1.5rem;
}

#fix-form .title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

#fix-form .content {
    /* border: 2px solid red; */
    height: 15rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#fix-form .content div {
    display: flex;
    align-items: center;
}

#fix-form .content div:nth-child(2) {
    margin-top: .8rem;
}

#fix-form .content div>label {
    flex-basis: 40%;
    font-size: 1.4rem;
}

#fix-form .content div .textfield {
    flex: 1;
    padding: .3rem .5rem;
    outline: none;
    border: 1px solid var(--font-color);
}

#fix-form .content .image-upload {
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 1.3rem 2rem;
    display: inline-block;
    
}

#fix-form .content .image-upload .icon-upload {
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size:1rem;
    cursor: pointer;
}

#fix-form .content .image-upload:hover {
    border: 1px dashed var(--main);
}

#fix-form .content .image-upload input {
    display: none;
}

#fix-form .content div .switch {
    -webkit-appearance: none;
    appearance: none;
    width: 8.2rem;
    height: 1.2rem;
    background: #BFBFBF;
    border-radius: 1.8rem;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--main);
    position: relative;
    transition: ease 0.5s;
    margin: 1.5rem 0;
}

#fix-form .content div .switch:checked {
    background: var(--main);
    transition: ease 1s;
}

#fix-form .content div .switch::before {
    content: '';
    width: 1.1rem;
    height: 1.1rem;
    background: var(--font-color);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transition: ease 500ms;
    /* transform: translate(-50%, -20%); */
}

#fix-form .content div .switch::after {
    content: attr(data-content);
    position: absolute;
    width: 8rem;
    height: 0.9rem;
    top: 40%;
    left: 66%;
    transform: translate(-50%, -50%);
    color: var(--bg);
}

#fix-form .content div .switch:checked::before {
    left: 7rem;
}

#fix-form .tool .btn {
    padding: .3rem 3rem;
    margin: 0 2rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: .6rem;
    background: transparent;
    color: var(--font-color);
}

#fix-form .tool .btn:hover {
    opacity: 0.8;
}

#fix-form .tool .btnConfirm {
    background: var(--main);
}

#fix-form .tool .btnCancel {
    border: 2px solid var(--main);
    color: var(--main);
}

#delete-form {
    border: 2px solid #ccc;
    width: 35rem;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
}

#delete-form #close {
    position: absolute;
    top: 1rem;
    right: 1.3rem;
    font-size: 1.5rem;
}

#delete-form .title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

#delete-form .warning {
    font-size: 1.2rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
    line-height: 2rem;
}

#delete-form .tool .btn {
    padding: .3rem 3rem;
    margin: 0 2rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: .6rem;
    background: transparent;
    color: var(--font-color);
}

#delete-form .tool .btn:hover {
    opacity: 0.8;
}

#delete-form .tool .btnConfirm {
    background: var(--main);
}

#delete-form .tool .btnCancel {
    border: 2px solid var(--main);
    color: var(--main);
}